.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.pesan .header {
  background-color: red;
  padding: 10px;
  color: white;
}

.keluar {
  text-align: right;
}

.inputchat {
  clear: both;
  background-color: red;
  padding-bottom: 10px;
  text-align: center;
}

.inputchat button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-top: -40px;
  font-size: 25px;
}

.inputchat textarea {
  margin-top: 10px;
  background: #fbfbfb;
  width: 75%;
  height: 50px;
  border: 2px solid #eee;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  resize: none;
  padding: 10px 20px;
  font-size: 18px;
  color: #333;
}

.pesan textarea::-webkit-scrollbar {
  width: 3px;
  margin-right: 10px;
}

.pesan textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: lightgray;
}

.pesan textarea:focus {
  background: #fff;
}

.box {
  background-color: lightcyan;
  width: 100%;
  height: 600px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.box::-webkit-scrollbar {
  width: 7px;
}

.box::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: lightgray;
}

.right {
  text-align: left;
  float: right;
  background-color: lightgreen;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.left {
  text-align: left;
  float: left;
  background-color: lightblue;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}


.mine {
  text-align: right;
  color: blue;
}

.chatbox {
  padding: 10px 20px;
  clear: both;
  margin-bottom: 5px;
  max-width: 80%;
}

.box textarea button {
  float: right;
}


/* login */

.login {
  background-image: linear-gradient(to right, lightblue, blue)
}

.login-form {
  padding: 20px;
}

.login-form input {
  margin-bottom: 10px;
}
